[Unit]
Description=SABnzbdd Service

[Service]
Type=simple
WorkingDirectory=/opt/sabnzbd/SABnzbd-{{ sabnzbd_version }}
ExecStart=/opt/sabnzbd/env/bin/python SABnzbd.py
User={{ media_user }}
Group={{ media_group }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
