[Unit]
Description=SABnzbdd Service

[Service]
Type=simple
WorkingDirectory=/opt/sabnzbd/SABnzbd-{{ sabnzbd_version }}
ExecStart=/opt/sabnzbd/env/bin/python SABnzbd.py
User=tdooner
Group=tdooner
Restart=on-failure

[Install]
WantedBy=multi-user.target
