[Unit]
Description=Sonarr

[Service]
Type=simple
WorkingDirectory=/usr/lib/sonarr
ExecStart=/usr/bin/mono /usr/lib/sonarr/bin/Sonarr.exe
User={{ media_user }}
Group={{ media_group }}
Restart=on-failure
MemoryMax=2G

[Install]
WantedBy=multi-user.target
