[Unit]
Description=Sonarr

[Service]
Type=simple
WorkingDirectory=/opt/NzbDrone
ExecStart=/usr/bin/mono /opt/NzbDrone/NzbDrone.exe
User={{ media_user }}
Group={{ media_group }}
Restart=on-failure
MemoryMax=2G

[Install]
WantedBy=multi-user.target
