[Unit]
Description=Tautulli Service

[Service]
Type=simple
WorkingDirectory=/opt/tautulli/Tautulli-{{ tautulli_version }}
ExecStart=/usr/bin/python /opt/tautulli/Tautulli-{{ tautulli_version }}/Tautulli.py
User=plex
Group=media
Restart=on-failure

[Install]
WantedBy=multi-user.target
